.ChatArea {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: stretch;
}

.ChatArea .MessageInput {
    padding: 10px;
    display: flex;
    border-width: 1px 0 0 0;
    border-color: rgba(34, 36, 38, 0.15);
    border-style: solid;
}

.ChatArea .TextArea {
    display: flex;
    flex: 1;
    border: none;
}